<div class="row" ng-controller="BooksController as books">
    <div class="col-xs-6 col-xs-offset-3">
        <h3>My Books</h3>
        <div ng-repeat="book in books.books">
            <div class="panel panel-info">
                <div class="panel-heading">
                    <a href="#/books/{{ book.id }}/view"><span class="panel-title">{{ book.title }}</span></a>
                    <a class="pull-right btn btn-sm btn-danger" ng-click="books.openDeleteModal(book)">
                        <span class="glyphicon glyphicon-trash"></span>
                    </a>
                    <a class="pull-right btn btn-sm btn-success" href="#/books/{{ book.id }}/edit">
                        <span class="glyphicon glyphicon-pencil"></span>
                    </a>
                </div>
                <div class="panel-body">
                    {{ book.author }}
                </div>
            </div>
        </div>
        <a class="btn btn-primary pull-right" href="#/books/new">
            <span class="glyphicon glyphicon-plus"></span> Add Book
        </a>
    </div>
    <script type="text/ng-template" id="deleteBookModal.html">
        <div class="modal-header">
            <h3 class="modal-title">Delete Book?</h3>
        </div>
        <div class="modal-body">
            Really?
        </div>
        <div class="modal-footer">
            <button class="btn btn-primary" type="button" ng-click="ok()">OK</button>
            <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
        </div>
    </script>
</div>
