<div class="row" ng-controller="BooksController as books">
    <div class="col-xs-6 col-xs-offset-3">
        <h3>My Books</h3>
        <div ng-repeat="book in books.books">
            <div class="panel panel-info">
                <div class="panel-heading">
                    <span class="panel-title">{{ book.title }}</span>
                    <a class="pull-right btn btn-sm btn-danger">
                        <span class="glyphicon glyphicon-trash"></span>
                    </a>
                    <a class="pull-right btn btn-sm btn-success">
                        <span class="glyphicon glyphicon-pencil"></span>
                    </a>
                </div>
                <div class="panel-body">
                    {{ book.author }}
                </div>
            </div>
        </div>
        <a class="btn btn-primary pull-right" href="#/books/new">
            <span class="glyphicon glyphicon-plus"></span> Add Book
        </a>
    </div>
</div>
