<div class="row">
    <div class="col-xs-6 col-xs-offset-3">
        <h2>Login</h2>
        <form novalidate name="loginForm">
            <div class="form-group">
                <label class="control-label" for="username">Email Address</label>
                <input type="email" ng-model="credentials.username" class="form-control" id="username"
                       placeholder="Email"
                       ng-minlength="2" required>
            </div>
            <div class="form-group">
                <label class="control-label" for="password">Password</label>
                <input type="password" ng-model="credentials.password" class="form-control" id="password"
                       placeholder="Password" ng-minlength="2" required>
            </div>
            <div class="form-group">
                <input type="submit" class="btn btn-info" ng-disabled="loginForm.$invalid"
                       ng-click="authenticate(credentials)" value="Submit"/>
                <a href="#/signup" class="btn btn-default">Signup</a>
            </div>
        </form>
    </div>
</div>
